@font-face {
  font-family: 'Open Sans Regular';
  src: url('/fonts/OpenSans-Regular.ttf') format('truetype'), 
       url('/fonts/OpenSans-Regular.woff') format('woff'), 
       url('/fonts/OpenSans-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url('/fonts/OpenSans-Bold.ttf') format('truetype'), 
       url('/fonts/OpenSans-Bold.woff') format('woff'), 
       url('/fonts/OpenSans-Bold.woff2') format('woff2');
}

:root {
  --white: #ffffff;
}

.text-h1 {
  font-family: 'Open Sans Bold', Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  
}


.text-h2 {
  font-family: 'Open Sans Regular', Arial, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
}

.text-h3 {
  font-family: 'Open Sans Regular', Arial, sans-serif;
  font-size: 15px;
  line-height: 22px;
  color: #0f0d0e;
}

body {
  background-color: #ffffff;
}

p,h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

/* header */
.header {
  min-height: 450px;
  position: relative;
  background-image: url("../images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--white);
}

header::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}
.nav {
  display: flex;
  position: relative;
  z-index: 2;
  justify-content: space-between;
  align-items: center;
  padding-top: 28px;
  margin-bottom: 100px;
}

.nav img {
  height: 40px;
  padding-left: 20px;
}

.menu {
  display: flex;
  list-style: none;
  padding-right: 15px;
}


.menu li {
  margin-left: 35px;
  margin-top: 5px;
}

.menu li a {
  text-decoration: none;
  color: #999999;
}

.menu li a:hover {
  text-decoration: underline;
}

.intro {
  position: relative;
  z-index: 2;
  width: 715px;
 
  text-align: center;
  font-size: 45px;
  line-height: 75px;
  margin: 0 auto;
}

/* конец header */

/* popup */

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 9999;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 0px;
  background: #fff;
  width: 390px;
  position: relative;
  z-index: 10;
  top: 18vh;
}

.popup a img {
  position: absolute;
  top: -30px;
  right: 0px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  width: 20px;
  height: 20px;
  background-image: url('../svg/form-x.svg');
  background-repeat: no-repeat;
}
.popup-content {
  max-width: 390px;
  max-height: 590px;
  padding: 30px;
  background-color: #ffffff;
}

.popup-title {
  text-align: center;
  margin: 13px 0 29px 7px;
  font-size: 20px;
  line-height: 29px;
}

.popup-divider {
  width: 65px;
  height: 3px;
  background-color: #e1d9bd;
  margin: -20px auto 13px;
}

.popup-subtitle.text-h2 {
  text-align: left;
  text-transform: none;
  line-height: 40px;
  margin-bottom: -3px;
}

.popup-input {
  display: flex;
  align-items: center;
  margin-top: -8px;
}

.popup-input input:focus {
  outline: none;
}

.popup-input input:focus::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #b59f5b;
}

.popup-select {
  width: 100%;
  height: 48px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../svg/form-arrows.svg");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 12px;
  background-color: #f4f7f6;
  padding: 16px 18px;
  margin: 0;
  border: 1px solid #f4f7f6;
  text-transform: none;
  margin-bottom: 19px;
}

.popup-input input {
  width: 100%;
  padding-right: 30px;
}

.popup-input-icons {
  display: flex;
}

.popup-input-icon {
  margin-left: 5px;
  cursor: pointer;
}

.popup-radio {
  display: flex;
  margin-bottom: 15px;
}

.popup-radio label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.popup-radio label input[type="radio"] {
  display: none;
}

.popup-radio label span {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.popup-radio label span.text-h2 {
  flex-shrink: 0;
  margin-right: 10px;
  text-transform: none;
}

.popup-radio label span.text-h2 + span {
  margin-left: 10px;
  
}

.popup-radio label input[type="radio"]:checked + span {
  background-image: url('../svg/form-circle.svg');
  width: 18px;
  height: 18px;
}

.popup-radio label input[type="radio"] + span {
  background-image: url('../svg/form-empty-circle.svg');
  width: 18px;
  height: 18px;
}

.popup-text {
  margin: 31px auto 13px;
  text-transform: none;
}

.popup-textarea {
  appearance: none;
  width: calc(100% - 44px);
  height: 90px;
  text-transform: none;
  padding: 20px;
  border: 1px solid #f4f7f6;
  background-color: #f4f7f6;
  resize: none;
  margin-bottom: 25px;
}

.popup-textarea:focus {
  outline: none;
  box-shadow: 0 2px 0 #b59f5b;
}

.side-bar-subscribe-button.popup-button[type="submit"] {
  width: 100%;
  margin: 0 auto 24px;
}

.side-bar-subscribe-button.popup-button[type="submit"]:hover {
  height: 49px;
}

/* конец popup */

/* trend */

.trend {
  padding-top: 4px;
}

.trend-title {
  min-height: 122px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trend-title h2 {
  font-family: 'Open Sans Bold', Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #0f0d0e;
  margin: 20px 0 0 0;
  position: relative;
  text-transform: uppercase;
  line-height: 29.15px;
}

.trend-title h2::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  width: 65px;
  height: 3px;
  background-color: #e1d9bd;
}       


.trend-container {
  min-height: 317px;
  display: flex;
}

.trend-container-item {
  flex: 1;
  background-size: cover;
  background-position: center;
  margin-left: 4px;
  position: relative;
}

.item-content {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 35px 20px 35px  30px;
  color: #ffffff;
  border: 3px solid #927e4d;
  margin: 0 25px 15px 22px;
}

.item-title,
.item-title a {
  font-family: 'Open Sans Bold', Arial, sans-serif;
  font-size: 14px;
  line-height: 40px;
  color: #b59f5b;
  margin:  0px 0 0 20px;
  text-transform: uppercase;
  text-decoration: none;
}

.item-title a:hover {
  text-decoration: underline;
}

.item-title a:first-child,
.item-title:first-child {
  margin: 0;
}

.item-description {
  font-family: 'Open Sans Bold', Arial, sans-serif;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  text-transform: uppercase;
}

.item-description:hover {
  text-shadow: 1px 1px 2px #b59f5b;
}

.trend-container-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.trend-container-item:first-child {
  margin-left: 0;
}

.item1 {
  background-image: url("../images/trend1.jpg");
}

.item2 {
  background-image: url("../images/trend2.jpg");
}

.item3 {
  background-image: url("../images/trend3.jpg");
}

.item4 {
  background-image: url("../images/trend4.jpg");
}

.trend-container span {
  
  text-align:left;
}

/* конец trend */


/* post & side-bar */

.post-container {
  display: flex;
  flex: 2;
  margin: auto 0;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.post-list {
  margin-top: 65px;
  display: flex;
  justify-content: space-between;
  flex: 2;
}

.post-list-photo {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  margin-right: 30px;
}

.post-photo {
  width: 380px;
  height: 293px;
}

.post-list-content {
  flex: 1;
}

.post {
  height: 293px;
  margin-top: 60px;  
}

.post:first-child {
  margin-top: -13px;
}

.post-info {
  
}

.post-category span a {
  font-family: 'Open Sans Bold', Arial, sans-serif;
  font-size: 14px;
  line-height: 40px;
  color: #b59f5b;
  margin: 0;
  text-transform: uppercase; 
  text-decoration: none;
}

.post-category span:not(:last-child) {
  margin-right: 10px; 
}

.post-category span a:hover {
  text-decoration: underline;
}

.post-title {
  font-family: 'Open Sans Bold', Arial, sans-serif;
  font-size: 20px;
  line-height: 24px;
  margin: -3px 0px 15px 0px;
  text-transform: uppercase;
  color: #0f0d0e;
}
.post-title:hover {
  text-shadow: 0.5px -0.5px 0.5px #b59f5b;
}

.post-author-date {
  margin-top: 0;
  margin-bottom: 35px;
}

.post-date {
  font-family: 'Open Sans Regular', Arial, sans-serif;
  font-size: 12px;
  line-height: 40px;
  margin: 0;
  color: #888888;
}

.post-author {
  font-family: 'Open Sans Bold', Arial, sans-serif;
  font-size: 12px;
  line-height: 40px;
  margin-left: 10px;
  color: #000000;
  margin-bottom: 55px;
  
}

.post-text {
  font-family: 'Open Sans Regular', Arial, sans-serif;
  font-size: 15px;
  line-height: 22px;
  margin: 0;
  color: #0f0d0e;
  text-align: left;
}
.post-text p {
  margin-top: 0;
  margin-bottom: 0;
}

/*--------*/

.side-bar {
  margin-top: 65px;
  flex: 1;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.side-bar-title {
  margin: 0 0 20px 0;
  text-align: center;
  position: relative;
}

.side-bar-title h4 {
  font-family: 'Open Sans Bold', Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 29,15px;
}


.side-bar-title h4:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -13px;
  transform: translateX(-50%);
  width: 65px;
  height: 3px;
  background-color: #e1d9bd;
  color: #0f0d0e;
}

.side-bar-content {
  padding-left: 120px;
}
     
.latest-post {
  display: flex;
  padding-top: 13px;

}

.latest-post-list-photo {
  margin-top: 30px;
  flex: 1;
}

.latest-post-list-content {
  padding-left: 10px; /*10*/
  flex: 3;
}

.latest-post-photo {

  margin-bottom: 20px;
}

.latest-post-photo:first-child {
  margin-top: -25px;
}

.latest-post-item-content {
  padding: 0;
  margin: 0 0 20px 0;
  width: 191px;

  color: #000000;
  
}

.latest-post-data {
  margin-top: -8px;
  padding-left: 10px;
  min-height: 80px;
  margin-bottom: 20px;
}

.latest-post-data h6 {
  font-family: 'Open Sans Regular', Arial, sans-serif;
  font-size: 12px;
  line-height: 40px;

}

.latest-post-data h6:first-child {
  margin: 0 0 0 0;
}

.latest-post-data h4 {
  font-family: 'Open Sans Bold', Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  width: 191px;
  margin-top: -10px;
  margin-bottom: 20px;
}



.side-bar-search {
  margin: 30px 0 59px 0;
  display: flex;
  align-items: center;
}

.side-bar-search input[type="text"] {
  flex: 1;
  height: 46px;
  padding: 0 18px;
  border: 1px solid #f4f7f6;
  border-radius: 0;
  outline: none;
  background-color: #f4f7f6;
  font-family: 'Open Sans Regular', Arial, sans-serif;
  font-size: 13px;
  line-height: 40px;
  color: #000000;
}
.side-bar-search input[type="text"]:focus{
  outline: none;
  box-shadow: 0 1px 0 #b59f5b;
}

.side-bar-search button[type="submit"] {
  width: 47.5px;
  height: 47.5px;
  background-color: #b59f5b;
  border: none;
  border-radius: 0;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.side-bar-search button[type="submit"] .search-icon {
  width: 18px;
  height: 18px;
}

.side-bar-search button[type="submit"] .search-icon img {
  display: block;
  width: 100%;
  height: 100%;
}

.side-bar-subscribe input[type="email"] {
  flex: 1;
  height: 46px;
  padding: 0 18px;
  border: 1px solid #f4f7f6;
  border-radius: 0;
  outline: none;
  background-color: #f4f7f6;
  width: calc(100% - 36px);
  margin-top: 15px;
}

.side-bar-subscribe input[type="email"]:focus{
  outline: none;
  box-shadow: 0 1px 0 #b59f5b;
}

input[type="email"]::placeholder {
  font-family: 'Open Sans Regular', Arial, sans-serif;
  font-size: 13px;
  line-height: 40px;
  color: #000000;
}

.side-bar-subscribe-button[type="submit"] {
  margin: 18px 0 60px 0;
  width: 100%;
  height: 47.5px;
  background-color: #b59f5b;
  border: none;
  border-radius: 0;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans Bold', Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 40px;
  color: #ffffff;
}

.side-bar-subscribe-button[type="submit"]:hover {
  height: 49px;
}

.side-bar-tags {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  width: 100%;
  margin-bottom: 57px;
}

.side-bar-tags span {
  display: inline-block;
  padding: 5px 13px;
  margin: 1px 1px;
  border: 3px solid #eeeeee;
  color: #0f0d0e;
  font-family: 'Open Sans Bold', Arial, sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 40px;
  text-transform: uppercase;
  line-height: 1;
}

.side-bar-tags span:hover {
  text-shadow: 0.2px 0.2px 0.2px #000000;
}

.side-bar-categories {
  margin-top: 24px;
}

.side-bar-categories ul {
  list-style: none;
  padding: 0;
}

.side-bar-categories li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #eeeeee;
  padding: 10px 0;
}

.side-bar-categories .category-title {
  font-family: 'Open Sans Bold', Arial, sans-serif;
  color: #000000;
  font-size: 14px;
  text-align: left;
  line-height: 47px;
}

.side-bar-categories .article-count {
  font-family: 'Open Sans Bold', Arial, sans-serif;
  color: #b59f5b;
  font-size: 12px;
  text-align: left;
  line-height: 36,82px;
  vertical-align: top;
}

.side-bar-categories .category {
  border-bottom: 2px solid #eeeeee;
  padding: 15px 0;
  margin-bottom: -3px;
}

.side-bar-categories .category:hover {
  text-shadow: -0.2px 0.2px 0.2px #b59f5b;
}

/* product */

.product-title h4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 29.15px;
  font-family: 'Open Sans Bold', Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #0f0d0e;
  margin: 0;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 40px;
  margin-top: 60px;
}

.product-title h4::after {
  content: '';
  width: 65px;
  height: 3px;
  background-color: #e1d9bd;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.product {
  display: flex;
  flex-direction: row;
  margin-top: -18px;
}

.product-card {
  flex: 1;
  flex-direction: column;
  padding-left: 20px;
  margin-left: 35px;
}

.product-card:first-child {
  margin-left: 0;
}

.product-card-image img {
  position: relative;
  z-index: -2;
  display: block;
  width: 300px;
  height: auto;
  margin-bottom: -18px;

}

.product-card-description {
  padding: 20px;
  position: relative;
  height: 500px;
  margin-bottom: 65px;
}

.product-card-description::before {
  content: "";
  position: absolute;
  top: 190px;
  left: -2px; 
  width: 95%; 
  height: 48%; 
  border: 3px solid #b59f5b;
  z-index: -1;
}

.product-card-title {
  margin-top: 40px;
}

.product-card-title.text-h1 {
  font-size: 20px;
  line-height: 24px;
  color: #0f0d0e;
  margin-bottom: 3px;
}

.product-card-text {
  width: 300px;
  margin-bottom: 25px;
}

.product-card-text a {
  text-decoration: none;
  color: #b59f5b;
}

.product-card-text a:hover {
  text-decoration: underline;
}

.product-card-footer {
  margin-top: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: auto

}
.price-container {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  line-height: 24px;
  color: #0f0d0e;
}

.price-discount.text-h1 {
  font-size: 14px;
  text-decoration: line-through;
  margin-top: -2px;
}

#without-discount {
  color: #ffffff;
}


.side-bar-subscribe-button.buy-btn {
  margin-top: 0px;
  width: 140px; 
  height: 48px; 
  margin-left: auto;
  margin-right: 17px;
}

.side-bar-subscribe-button.buy-btn:hover {
  height: 50px;
}

/* конец product */

/* footer */

.footer {
  margin: 0 auto;
  max-width: 1170px;
}

.footer-social {
  display: flex;
  justify-content: center;
  height: 83px;
  background-color: #f4f7f6;
  margin-top: -83px;
}
.foter-social-logo {
  width: 20px;
  margin-left: 29px;
}

.foter-social-logo:first-child {
  margin-left: 0px;
}


.footer-copyrights {
  height: 130px;
}

.footer-copyrights-text.text-h1 {
  text-align: center;
  font-size: 12px;
  line-height: 40px;
  color: #999999;
  text-transform: capitalize;
  margin-top: 57px;
  padding-left: 34px;
}