@font-face {
  font-family: "Open Sans Regular";
  src: url("/fonts/OpenSans-Regular.ttf") format("truetype"),
    url("/fonts/OpenSans-Regular.woff") format("woff"),
    url("/fonts/OpenSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans Bold";
  src: url("/fonts/OpenSans-Bold.ttf") format("truetype"),
    url("/fonts/OpenSans-Bold.woff") format("woff"),
    url("/fonts/OpenSans-Bold.woff2") format("woff2");
}

:root {
  --white: #ffffff;
}

.text-h1 {
  font-family: "Open Sans Bold", Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.text-h2 {
  font-family: "Open Sans Regular", Arial, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
}

.text-h3 {
  font-family: "Open Sans Regular", Arial, sans-serif;
  font-size: 15px;
  line-height: 22px;
  color: #0f0d0e;
}

body {
  background-color: #ffffff;
}

p,h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

/* header */

.header {
  min-height: 450px;
  position: relative;
  background-size: cover;
  color: var(--white);
}

header::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.menu-burger {
  display: flex;
  position: absolute;
  top: 34px;
  right: 2px;
  z-index: 10;
  align-items: center;
 
  width: 22px;
  height: 20px;
}

.menu-burger span {
  height: 3px;
  width: 100%;
  background-color: #ffffff;
}

.menu-burger::before,
.menu-burger::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #ffffff;
}
.menu-burger::before {top: 0}
.menu-burger::after {bottom: 0;}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

.nav {
  display: flex;
  position: relative;
  z-index: 2;
  justify-content: space-between;
  align-items: center;
  padding-top: 28px;
  margin-bottom: 100px;
}

.nav img {
  height: 40px;
  padding-left: 20px;
}

.menu {
  display: flex;
  list-style: none;
  padding-right: 15px;
}

.menu li {
  margin-left: 35px;
  margin-top: 5px;
}

.menu li a {
  text-decoration: none;
  color: #eff6f1;
}

.menu li a:hover {
  text-decoration: underline;
}

.intro {
  position: relative;
  z-index: 2;
  width: 715px;
  text-align: center;
  font-size: 45px;
  line-height: 75px;
  margin: 0 auto;
}

/* конец header */
/* popup */
._hidden {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 9999;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.feedback-form {
  margin: 70px auto;
  padding: 0px;
  background: #fff;
  width: 390px;
  position: relative;
  z-index: 10;
  top: 5vh;
}

.close-button {
  position: absolute;
  top: -35px;
  right: 0;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.close-button-icon {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.close-button:focus {
  outline: none;
}

.feedback-form-content {
  max-width: 390px;
  max-height: 590px;
  padding: 30px;
  background-color: #ffffff;
}

.feedback-form-title {
  text-align: center;
  margin: 13px 0 29px 7px;
  font-size: 20px;
  line-height: 29px;
}

.feedback-form-divider {
  width: 65px;
  height: 3px;
  background-color: #e1d9bd;
  margin: -20px auto 13px;
}

.feedback-form-subtitle.text-h2 {
  text-align: left;
  text-transform: none;
  line-height: 40px;
  margin-bottom: -3px;
}

.feedback-form-input {
  display: flex;
  align-items: center;
  margin-top: -8px;
}

.feedback-form-input input:focus {
  outline: none;
}

.feedback-form-input input:focus::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #b59f5b;
}

.feedback-form-select {
  width: 100%;
  height: 48px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../svg/form-arrows.svg");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 12px;
  background-color: #f4f7f6;
  padding: 16px 18px;
  margin: 0;
  border: 1px solid #f4f7f6;
  text-transform: none;
  margin-bottom: 19px;
}

.feedback-form-select:focus {
  outline: 1px solid #b59f5b;
  outline-offset: -1px;
}

.feedback-form-input input {
  width: 100%;
  padding-right: 30px;
}

.feedback-form-input-icons {
  display: flex;
}

.feedback-form-input-icon {
  margin-left: 5px;
  cursor: pointer;
}

.feedback-form-radio {
  display: flex;
  margin-bottom: 15px;
}

.feedback-form-radio label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.feedback-form-radio label input[type="radio"] {
  display: none;
}

.feedback-form-radio label span {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.feedback-form-radio label span.text-h2 {
  flex-shrink: 0;
  margin-right: 10px;
  text-transform: none;
}

.feedback-form-radio label span.text-h2 + span {
  margin-left: 10px;
}

.feedback-form-radio label input[type="radio"]:checked + span {
  background-image: url("../svg/form-circle.svg");
  width: 18px;
  height: 18px;
}

.feedback-form-radio label input[type="radio"] + span {
  background-image: url("../svg/form-empty-circle.svg");
  width: 18px;
  height: 18px;
}

.feedback-form-text {
  margin: 31px auto 13px;
  text-transform: none;
}

.feedback-form-textarea {
  appearance: none;
  width: calc(100% - 44px);
  height: 90px;
  text-transform: none;
  padding: 20px;
  border: 1px solid #f4f7f6;
  background-color: #f4f7f6;
  resize: none;
  margin-bottom: 25px;
}

.feedback-form-textarea:focus {
  outline: 1px solid #b59f5b;
  outline-offset: -1px;
}

.side-bar-subscribe-button.feedback-form-button[type="submit"] {
  width: 100%;
  margin: 0 auto 24px;
}

.side-bar-subscribe-button.feedback-form-button[type="submit"]:hover {
  background-color: #323232;
}

/* конец popup */
/* trend */
.trend {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.trend-title {
  font-family: "Open Sans Bold", Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #0f0d0e;
  margin: 20px 0 0 0px;
  position: relative;
  text-transform: uppercase;
  line-height: 29.15px;
}
.trend-title::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  width: 65px;
  height: 3px;
  background-color: #e1d9bd;
}
.trend-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 35px 0 0 0;
}
.trend-flex-container-item {
  display: flex;
  flex-basis: calc(25% - 3px);
  flex-direction: column;
  margin-bottom: 20px;
  background-size: cover;
  background-position: center center;
  position: relative;
  min-height: 320px;
}

.trend-flex-container-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.item-content {
  align-self: flex-start;
  margin: auto 25px 15px 22px;
  padding: 18px 20px 35px 30px;
  position: relative;
  z-index: 1;
  color: #ffffff;
  border: 3px solid #927e4d;
}
.item-tags {
  display: flex;
}

.item-tag {
  font-family: "Open Sans Bold", Arial, sans-serif;
  font-size: 14px;
  line-height: 40px;
  color: #b59f5b;
  margin: 0px 0 0 20px;
  text-transform: uppercase;
  text-decoration: none;
}
.item-tag:first-child {
  margin: 0;
}
.item-tag:hover {
  text-decoration: underline;
}

.item-text {
  font-family: "Open Sans Bold", Arial, sans-serif;
  color: #ffffff;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  text-transform: uppercase;
  text-decoration: none;
}
.item-text:hover {
  color: #b59f5b;
}
.item1 {
  background-image: url("../images/trend1.jpg");
}

.item2 {
  background-image: url("../images/trend2.jpg");
}

.item3 {
  background-image: url("../images/trend3.jpg");
}

.item4 {
  background-image: url("../images/trend4.jpg");
}
/* конец trend */
/* post & side-bar */
main {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}
.post-container {
  width: 66.66%;
  flex-direction: column;
}
.post-item {
  display: flex;
  min-height: 293px;
  margin-top: 45px;
  margin-bottom: 57px;
}

.post-item:last-child {
  margin-bottom: 0;
}
.post-photo {
  margin-right: 30px;
}
.post-content {
  margin-top: -13px;
}
.post-category span a {
  font-family: "Open Sans Bold", Arial, sans-serif;
  font-size: 14px;
  line-height: 40px;
  color: #b59f5b;
  margin: 0;
  text-transform: uppercase;
  text-decoration: none;
}
.post-category span:not(:last-child) {
  margin-right: 10px;
}
.post-category span a:hover {
  text-decoration: underline;
}
.post-title a {
  font-family: "Open Sans Bold", Arial, sans-serif;
  font-size: 20px;
  line-height: 24px;
  margin: -3px 0px 15px 0px;
  text-transform: uppercase;
  color: #0f0d0e;
  text-decoration: none;
}
.post-title a:hover {
  color: #b59f5b;
}

.post-author-date {
  margin-top: 0;
  margin-bottom: 35px;
}
.post-date {
  font-family: "Open Sans Regular", Arial, sans-serif;
  font-size: 12px;
  line-height: 40px;
  margin: 0;
  color: #888888;
}

.post-author {
  font-family: "Open Sans Bold", Arial, sans-serif;
  font-size: 12px;
  line-height: 40px;
  margin-left: 10px;
  color: #000000;
  margin-bottom: 55px;
}

.post-text {
  font-family: "Open Sans Regular", Arial, sans-serif;
  font-size: 15px;
  line-height: 22px;
  margin: 0;
  color: #0f0d0e;
  text-align: left;
}

.post-text p {
  margin-top: 0;
  margin-bottom: 0;
}

/*--------*/
.side-bar {
  margin-top: 33px;
  width: 33.33%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.side-bar-title {
  margin: 0 0 20px 0;
  text-align: center;
  position: relative;
}

.side-bar-title h4 {
  font-family: "Open Sans Bold", Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 29.15px;
}

.side-bar-title h4:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
  width: 65px;
  height: 3px;
  background-color: #e1d9bd;
  color: #0f0d0e;
}
.side-bar-content {
  margin-left: 120px;
}
.latest-post-list {
  display: flex;
  padding-top: 13px;
  flex-direction: column;
}

.latest-post-list {
  padding-top: 22px;
}

.latest-post-item {
  margin-bottom: 16px;
  display: flex;
  min-width: 70px;
}

.latest-post-item-photo {
  width: 25%;
  min-height: 70px;
}
.latest-post-item-content {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10px;
  margin-top: -10px;
  color: #000000;
  padding-left: 20px;
  margin-bottom: 10px;
}

.latest-post-item-content h6 {
  height: 30px;
}

.latest-post-data {
  font-family: "Open Sans Regular", Arial, sans-serif;
  font-size: 12px;
  line-height: 40px;
  margin-bottom: 0px;
}
.latest-post-data:first-child {
  margin-top: -8px;
}

.latest-post-item-text {
  font-family: "Open Sans Bold", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  width: 100%;
  text-decoration: none;
  color: inherit;
}
.latest-post-item-text:hover {
  color: #b59f5b;
}

.side-bar-search {
  margin: 38px 0 52px 0;
  display: flex;
  align-items: center;
}

/*-----------*/
.visually-hidden {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.side-bar-search input[type="text"] {
  flex: 1;
  height: 46px;
  padding: 0 18px;
  border: 1px solid #f4f7f6;
  border-radius: 0;
  outline: none;
  background-color: #f4f7f6;
  font-family: "Open Sans Regular", Arial, sans-serif;
  font-size: 13px;
  line-height: 40px;
  color: #000000;
}

.side-bar-search input[type="text"]:focus {
  outline: 1px solid #b59f5b;
  outline-offset: -1px;
}

.side-bar-search button[type="submit"] {
  width: 47.5px;
  height: 47.5px;
  background-color: #b59f5b;
  border: none;
  border-radius: 0;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.side-bar-search button[type="submit"]:hover {
  background-color: #323232;
}

.side-bar-search button[type="submit"] .search-icon {
  width: 18px;
  height: 18px;
  background-image: url("../svg/search.svg");
  background-repeat: no-repeat;
  /* Дополнительные стили для фонового изображения */
}

.side-bar-subscribe input[type="email"] {
  flex: 1;
  height: 46px;
  padding: 0 18px;
  border: 1px solid #f4f7f6;
  border-radius: 0;
  outline: none;
  background-color: #f4f7f6;
  width: calc(100% - 36px);
  margin-top: 12px;
}

.side-bar-subscribe input[type="email"]:focus {
  outline: 1px solid #b59f5b;
  outline-offset: -1px;
}

input[type="email"]::placeholder {
  font-family: "Open Sans Regular", Arial, sans-serif;
  font-size: 13px;
  line-height: 40px;
  color: #000000;
}

.side-bar-subscribe-button[type="submit"] {
  margin: 18px 0 50px 0;
  width: 100%;
  height: 47.5px;
  background-color: #b59f5b;
  border: none;
  border-radius: 0;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans Bold", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 40px;
  color: #ffffff;
}

.side-bar-subscribe-button[type="submit"]:hover {
  background-color: #323232;
}

.side-bar-tags {
  margin-top: 35px;
  margin-bottom: 52px;
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.side-bar-tags li {
  display: inline-block;
}

.side-bar-tags li a {
  display: flex;
  align-items: center;
  padding: 5px 13px;
  border: 3px solid #eeeeee;
  color: #0f0d0e;
  font-family: "Open Sans Bold", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 40px;
  text-decoration: none;
  height: 30px;
  box-sizing: border-box;
}

.side-bar-tags li a:hover {
  border: 3px solid #b59f5b;
}

.side-bar-categories {
  padding: 0;
  list-style: none;
}

.category {
  border-bottom: 2px solid #eeeeee;
  height: 45px;
}

.category-name {
  font-family: "Open Sans Bold", Arial, sans-serif;
  font-size: 14px;
  line-height: 47px;
  color: #000000;
  text-align: left;
  text-decoration: none;
}

.category-name:hover {
  color: #b59f5b;
}

.article-count {
  font-family: "Open Sans Bold", Arial, sans-serif;
  color: #b59f5b;
  font-size: 12px;
  text-align: left;
  line-height: 36.82px;
  vertical-align: top;
}

/* product */
.product-title h4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 29.15px;
  font-family: "Open Sans Bold", Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #0f0d0e;
  margin: 0;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 40px;
  margin-top: 49px;
}

.product-title h4::after {
  content: "";
  width: 65px;
  height: 3px;
  background-color: #e1d9bd;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.product {
  display: flex;
}

.product-card {
  flex: 1;
  padding-left: 20px;
  margin-left: 35px;
  display: flex; 
  flex-direction: column; 
}

.product-card:first-child {
  margin-left: 0;
}
.product-card:last-child {
  margin-right: 15px;
}

.product-card-image img {
  margin: auto;
  position: relative;
  z-index: -2;
  display: block;
  width: 300px;
  height: 204px;
  background-color: #eff6f1;
}

.product-card-description {
  padding: 32px 20px 20px 20px;
  margin-top: -32px;
  position: relative;
  /*margin-bottom: 65px;*/
  border: 3px solid #b59f5b;
  min-height: 203px;
}

.product-card-title {
  margin-top: 15px;
}

.product-card-title.text-h1 {
  font-size: 20px;
  line-height: 24px;
  color: #0f0d0e;
  margin-bottom: 3px;
}

.product-card-text {
  width: 300px;
  margin-bottom: 25px;
}

.product-card-text a {
  text-decoration: none;
  color: #b59f5b;
}

.product-card-text a:hover {
  text-decoration: underline;
}

.product-card-footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  height: auto;
}
.product-card-footer a {
  text-decoration: none;
  margin-left: auto;
}
.price-container {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  line-height: 24px;
  color: #0f0d0e;
  margin-top: auto;
}

.price-discount.text-h1 {
  font-size: 14px;
  text-decoration: line-through;
  line-height: 24px;
  margin-top: -2px;
}

.side-bar-subscribe-button.buy-btn {
  margin-top: 0;
  margin-bottom: 0;
  width: 140px;
  height: 48px;
}

/* конец product */
/* footer */
.footer {
  margin: 0 auto;
  max-width: 1170px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  height: 83px;
  background-color: #f4f7f6;
  margin-top: 68px;
  list-style: none;
  padding: 0;
}

.footer-social-list li {
  margin-left: 28px;
  margin-top: 30px;
}

.footer-social-list li:first-child {
  margin-left: 0px;
}

.footer-social-link {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.footer-social-link.dribbble {
  background-image: url("../svg/001-dribbble.svg");
}

.footer-social-link.pinterest {
  background-image: url("../svg/001-pinterest.svg");
}

.footer-social-link.tumblr {
  background-image: url("../svg/003-tumblr.svg");
}

.footer-social-link span {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.footer-copyrights {
  height: 130px;
}

.footer-copyrights-text.text-h1 {
  text-align: center;
  font-size: 12px;
  line-height: 40px;
  color: #999999;
  text-transform: capitalize;
  margin-top: 57px;
  padding-left: 34px;
}


/* Media Queries */

@media (max-width: 639px) and (orientation: landscape) {
  .trend-flex-container {
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
  }

  
  .trend-flex-container-item {
    display: flex;
    width: calc(50% - 7.5px);
  }

  .trend-flex-container-item:nth-child(2n) {
    margin-left: 15px;
  }
}

@media (max-width: 639px) and (orientation: portrait) {
  .trend {
    margin-top: 21px;
    }
  
    .trend-title{
      font-size: 16px;
      line-height: normal;
    }
  
    .trend-flex-container-item {
      min-width: 360px;
      min-height: 230px;
      margin-bottom: 4px;
      background-position: center 90%;
      margin: 3px auto 0;  
    }
  
    .item-content {
      max-width: 100%;
      margin-right: 15px;
      margin-left: 15px;
      padding-left: 20px;
      padding-bottom: 25px;
    }
    .item-tags {
      line-height: 37.2px;
    }
    .item-text {
      font-size: 16px;
      line-height: 20px;
    }
}

@media (max-width: 639px) {
  .menu {
    display: none;
  }
  .container {
    margin: 0;
    min-width: 330px;
    min-height: 640px;
    padding: 0 15px;
  }
  .header {
    background-image: url("../images/banner-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin-bottom: 30px;
  }
  .nav img {
    height: 60px;
    padding-left: 0;
    margin-top: 229px;
  }  
  .intro.text-h1 {
    display: flex;
    font-size: 26px;
    line-height: 36px;
    width: 100%;
    margin-top: 0px;
  }

  

  main {
    flex-direction: column;
    padding: 0;
    width: 100%;
    max-width: 381px;
    margin: 0 auto;
  }

  .post-container {
    margin-top: 6px;
    width: 100%;
  }

  .post-item {
    display: flex;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 25px;
    flex-wrap: wrap;
  }
  .post-item:not(:last-child) {
    border-bottom: 3px solid #eeeeee;
  }
  .post-photo {
    
    margin-bottom: 30px;
    margin-right: 0;
    
  }
  
  .post-photo img {
    width: 100%;
    min-width: 330px;
    margin-bottom: 8px;
  }

  .post-category {
    height: 35px;
  }

  .post-category span:not(:last-child) {
    margin-right: 15px;
  }
  .post-title a{
    margin-bottom: 25px;
    font-size: 15.8px;
    line-height: 20px;
    margin-bottom: 6px;
  }
  .post-author-date {
    margin-bottom: 2px;
  }
  .post-text {
    margin-bottom: 22px;
    font-size: 14px;
    line-height: 20px;
  }
  .side-bar {
    width: 100%;
    margin-top: 20px;
  }
  .side-bar-title h4 {
    font-size: 16px;
  }
  .side-bar-content {
    margin-left: 0;
    margin-top: 16px;
  }

  .latest-post-item-content {
    padding-left: 8px;
  }
  .side-bar-search {
    margin-top: 42px;
    margin-bottom: 36px;
  }
  .side-bar-subscribe-button[type="submit"]  {
    margin-bottom: 35px;
  }
  .side-bar-tags {
    margin-bottom: 35px;
  }
  .side-bar-tags li a {
    padding: 5px 14px;
  }
  .product {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .product-title h4 {
    font-size: 16px;
    margin-top: 20px;
  }
  .product-card-title.text-h1 {
    font-size: 17px;
    line-height: 22px;
  }
  
  .product-card {
    width: 100%;
    max-width: 381px;
    margin-bottom: 20px;
    margin-left: 0;
    padding-left: 0;
  }
  .product-card-image img {
    min-width: calc(100% - 45px);
    min-height: 285px;
    
  }
  .product-card:last-child {
    margin-right: 0px;
  }
  
  .product-card-description {
    padding: 31px;
    padding-left: 15px;
    min-height: auto;
  }

  .price-container {
    margin-top: 0;
  }
  .price.text-h1 {
    margin-top: auto;
  }
  .side-bar-subscribe-button.buy-btn[type="submit"]  {
    margin-bottom: 0;
  }
  

  .footer {
    max-width: calc(100% - 30px);
  }
  .footer-social-list{
    margin-top: 16px;
  }
  .footer-copyrights {
    margin-top: 33px;
    height: 50px;
    
  }
  .footer-copyrights-text.text-h1 {
    padding-left: 0;
    margin-top: 0;
  }
}

@media (min-width: 641px) and (max-width: 1200px) and (orientation: landscape) {
  .trend-flex-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .trend-flex-container-item {
    flex-basis: calc(25% - 6px);
    margin-bottom: 6px;
  }

  .trend-flex-container-item:not(:last-child) {
    margin-right: 3px;
  }
}

@media (min-width: 640px) and (max-width: 1199px) and (orientation: portrait) {
  .trend {
    margin-top: 25px;
    width: 100%;
  }
  .trend-title{
    font-size: 18px;
  }
  .trend-flex-container{
    margin-top: 28px;
    flex-wrap: wrap;
    justify-content: center; 
    margin-bottom: 7px;
  }

  .trend-flex-container-item {
    flex-basis: calc(50% - 3px);
    margin-bottom: 3px;
    min-height: 245px;
  }

  .trend-flex-container-item:nth-child(2n) {
    margin-left: 3px;
  }
  .item1, .item2, .item3, .item4 {
    background-position: 50% 98%;
  }
  .item-content {
    padding-left: 25px;
    padding-bottom: 29px;
    margin-right: 20px;
  }

  .item-tag {
    line-height: 37.2px;
  }
  .item-text {
    font-size: 17px;
    line-height: 22px;
  }
}

@media (min-width: 640px) and (max-width: 1199px) {
  .menu {
    display: none;
  }
  .container {
    width: calc(100% - 70px);
    padding: 0 35px;
  }
  .menu-burger {
    top: 53px;
    right: 0px;
  }
  .header {
    width: 100%;
    min-height: 13vh;
    background-image: url("../images/banner-bg-tablet.jpg");
    background-size: cover;
  }
  .nav {
    width: calc(100% - 70px);
    padding-top: 45px;
    margin-bottom: 86px;
  }
  .nav img {
    height: 35px;
    padding-left: 0;
  }
  .intro.text-h1 {
    width: calc(100% - 60px);
    font-size: 40px;
    line-height: 55px;
    max-width: 640px;
    padding: 0 30px;
  }
  


  main {
    display: flex;
    padding: 0;
  }

  .post-container {
    width: 59%;
  }

  .side-bar {
    width: 41%;
    margin-left: 35px;
  }
  .side-bar-content {
    margin-left: 0px;
  }

  .post-item {
    flex-direction: column;
    margin-bottom: 40px;
    width: 100%;
  }
  .post-item:not(:last-child) {
    border-bottom: 3px solid #eeeeee;
  }
  .post-photo {
    margin-right: 0;
  }

  .post-photo img {
    margin-right: 0;
    margin-bottom: 0px;
    width: 100%;

  }
  .post-title a {
    font-size: 17px;
    line-height: 22px;
  }

  .post-content {
    margin-top: 0;
  }
  .post-category {
    height: 33px;
  }
  .post-text {
    margin-bottom: 25px;
  }
  .product-title {
    font-size: 18px;
  }

  .post-author-date{
    margin: 16px 0;
  }

  .post-text {
    margin-bottom: 19px;
  }

  .product {
    flex-wrap: wrap;
    justify-content: start;
  }
  .product-title h4 {
    margin-top: 43px;
    margin-bottom: 9px;
    font-size: 18px;
  }

  .product-card {
    width: 50%;
    min-width: 35%;
    max-width: 50%;
    padding-left: 0;
    margin-top: 30px;
  }
  .product-card:nth-child(n+3) {
    margin-left: 0;
  }
  .product-card-image img {
   
    width: 86%;
    margin: 0 auto;
  }
  .product-card-description {
    margin-top: -39px;
    padding-bottom: 30px;
  }

  .product-card-text.text-h3 {
    width: 100%;
  }
  .product-card-title.text-h1 {
    font-size: 17px;
    line-height: 22px;
  }
  .price.text-h1 {
    min-height: 26px;
  }

  .footer {
    height: 180px;
  }
  .footer-social {
    width: calc(100% - 70px);
    margin: 0 auto;
  }
  .footer-copyrights-text.text-h1 {
    margin-top:50px;
  }
  .footer-social-list {
    margin-top: 44px;
  }
  .footer-copyrights-text.text-h1 {
    margin-top: 32px;
    padding-left: 20px;
  }
}

@media (min-width: 1200px) {
  .menu-burger {
    display: none;
  }
  .header {
    background-image: url("../images/banner-bg.jpg");
    
  }
}